# Project exclude paths
/venv/
Будет удалено __pycache__/
Будет удалено __pycache__/ClearString.cpython-38.pyc
Будет удалено __pycache__/InputOutputParams.cpython-38.pyc
Будет удалено __pycache__/ProgressBar.cpython-38.pyc
/venv/
