# Project exclude paths
/venv/
Будет удалено __pycache__/
Будет удалено __pycache__/ClearString.cpython-38.pyc
Будет удалено __pycache__/InputOutputParams.cpython-38.pyc
Будет удалено __pycache__/ProgressBar.cpython-38.pyc
/venv/
Будет удалено __pycache__/Eversion.cpython-38.pyc
Будет удалено calc_full.csv
Будет удалено calc_full_20200324.csv
Будет удалено calc_short.csv
Будет удалено calc_short_20200324.csv
